{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Unlocking Software Potential through App Store Reviews</h1>
        </div>
        <nav>
            <ul class="menu">
                <li style="background-color: #ffe53b;background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%); color:white; border-radius:5px;padding:0.5rem 1rem;"><a href="">Home</a></li>
                <li ><a href="{% url 'upload_file' %}">Upload</a></li>
                <li><a href="{% url 'bert_model_analysis' %}">BERT</a></li>
                <!-- <li><a href="{% url 'nlp_model_analysis' %}">NLP</a></li> -->
                <li><a href="{% url 'show_sentiment_distribution' %}">Categorization</a></li>
                <li><a href="{% url 'prediction' %}">Prediction</a></li>
                <li><a href="{% url 'logout_user' %}">Logout</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>